.el-avatar {
  --el-avatar-background-color: none;
  background: none !important;
}

.el-input__wrapper {
  background: transparent !important;
  outline: transparent !important;
  border: none !important;
  box-shadow: none !important;
}